@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-background-light: #f7f7f7;
  --color-surface-light: #ffffff;
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
  --card-light: #ffffff;
  --text-light: #111418;
  --text-secondary-light: #617589;
  --border-light: #e5e7eb;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-background-light {
    background-color: var(--color-background-light);
  }

  .bg-surface-light {
    background-color: var(--color-surface-light);
  }
  .text-primary {
    color: var(--color-text-primary);
  }
  .text-secondary {
    color: var(--color-text-secondary);
  }

  .border-light {
    border-color: var(--border-light);
  }
  .card-light {
    background-color: var(--card-light);
  }
  .text-light {
    color: var(--text-light);
  }
  .text-secondary-light {
    color: var(--text-secondary-light);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
