@import "tailwindcss";

@theme {
  --color-primary: #000000;

  --color-background-light: #f7f7f7;

  --color-surface-light: #ffffff;
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-background-light {
    background-color: var(--color-background-light);
  }

  .bg-surface-light {
    background-color: var(--color-surface-light);
  }
  .text-primary {
    color: var(--color-text-primary);
  }
  .text-secondary {
    color: var(--color-text-secondary);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
