@import "tailwindcss";

@theme {
  --color-primary: #727cf5;
  --color-primary-light: #9098f8;
  --color-background-dark: #1e2029;
  --color-surface-dark: #262a37;
  --color-text-primary: #e3eaef;
  --color-text-secondary: #98a6ad;
  --card-dark: #262a37;
  --border-dark: #323a46;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-primary-light {
    background-color: var(--color-primary-light);
  }
  .bg-background-dark {
    background-color: var(--color-background-dark);
  }
  .bg-surface-dark {
    background-color: var(--color-surface-dark);
  }
  .text-primary {
    color: var(--color-text-primary);
  }
  .text-secondary {
    color: var(--color-text-secondary);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-dark);
  color: var(--color-text-primary);
  font-family: "Inter", sans-serif;
}
